<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= file['path'] %></title>
    <link rel="stylesheet" href="styles.css" type="text/css" />
  </head>
  <body>
  
    <header>
      <h1>Coverage</h1>
      <h2><%= file['path'] %></h2>
    </header>
    
    <div class="table-wrapper">
      <table class="summary" border="none">
        <thead>
          <tr>
            <th>Name</th>
            <th>Total Lines</th>
            <th>Lines of Code</th>
            <th>Total Coverage</th>
            <th>Code Coverage</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= file['path'] %></td>
            <td><%= file['lines'] %></td>
            <td><%= file['lines_code'] %></td>
            <td><%= coverage['total'] %></td>
            <td><%= coverage['code'] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="table-wrapper">
      <table class="source" border="none">
      <% file["source"].zip(coverage["lines"]).each_with_index do |(line, count), i| %>
        <% if count.nil? %>
          <tr class="excluded">
        <% elsif count.zero? %>
          <tr class="unran">
        <% else %>
          <tr class="ran">
        <% end %>
          <td class="no"><%= i %></td>
          <td><pre><code><%= line.gsub("\n", "") %></code></pre></td>
          <td><% if count %><span class="count"><%= count %></span><% end %></td>
        </tr>
      <% end %>
      </table>
    </div>
  
  </body>
</html>