!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= file['path']
    %link{:rel => "stylesheet", :href => "styles.css"}
    %script{:type => "text/javascript", :src => "jquery.js"}
    %script{:type => "text/javascript", :src => "plugins.js"}
    %script{:type => "text/javascript", :src => "main.js"}
    
  %body
    %header
      %h1
        %a{:href => "index.html"} Coverage
      %h2= file['path']
      
    .table-wrapper
      %table{:class => "summary", :border => "none"}
        %thead
          %tr
            %th Name
            %th Total Lines
            %th Lines of Code
            %th Lines Ran
            %th Total Coverage
            %th Code Coverage
          
        %tbody
          %tr
            %td{:class => "name"}= file['path']
            %td= file['lines']
            %td= file['lines_code']
            %td= file['lines_ran']
            %td= coverage['total']
            %td= coverage['code']
          
    .table-wrapper
      %table{:class => "source", :border => "none"}
        - file['source'].zip(coverage['lines']).each_with_index do |(line, count), i|
          - if count.nil?
            %tr{:class => "excluded"}
              %td{:class => "no"}= i
              %td
                %pre
                  %code= line.gsub("\n", "")
  
          - elsif count.zero?
            %tr{:class => "unran"}
              %td{:class => "no"}= i
              %td
                %pre
                  %code= line.gsub("\n", "")
              %td
                %span{:class => "count"}= count
                  
          - else
            %tr{:class => "ran"}
              %td{:class => "no"}= i
              %td
                %pre
                  %code= line.gsub("\n", "")
              %td
                %span{:class => "count"}= count
            
            
                
    %footer
      %span
        Generated on #{time} with
        %a{:href => "http://github.com/hawx/duvet"}= "#{name} #{version}"
              